Options -MultiViews
RewriteEngine On
DirectoryIndex dashboard.php
#Header set Access-Control-Allow-Origin "http://salsabor.fr"

RewriteRule ^dashboard$ dashboard.php
RewriteRule ^inscription$ inscription.php
RewriteRule ^vente$ catalogue.php
RewriteRule ^reservation$ resa_add.php
RewriteRule ^invitation$ eleve_inviter.php
RewriteRule ^participations$ participations.php
RewriteRule ^regularisation/participations/([A-Za-z0-9-]+)$ participations_irregulieres.php?display=$1 [NC]
RewriteRule ^regularisation/forfaits$ irreg_products.php
RewriteRule ^planning$ planning.php
RewriteRule ^salles$ salles.php
RewriteRule ^forfaits$ forfaits.php
RewriteRule ^tarifs$ tarifs_liste.php
RewriteRule ^holidays$ jours_chomes.php
RewriteRule ^echeances$ echeances.php
RewriteRule ^transactions$ transactions.php
RewriteRule ^notifications$ notifications.php
RewriteRule ^notifications/settings$ notifications_settings.php
RewriteRule ^portal$ portal.php
RewriteRule ^link$ link.php
RewriteRule ^signup$ signup.php
RewriteRule ^rentabilite$ profits.php
RewriteRule ^autorisations$ permissions.php
RewriteRule ^maintenance$ maintenance.php
RewriteRule ^my/profile$ my_profile.php
RewriteRule ^my/products$ my_products.php
RewriteRule ^event/new$ event_add.php
RewriteRule ^reservation/new$ booking_add.php
RewriteRule ^monitoring/participations$ monitoring_participations.php

#User Details
RewriteRule ^user/([0-9-]+)$ user_details.php?id=$1 [NC,L]
RewriteRule ^user/([0-9-]+)/achats user_purchases.php?id=$1 [NC,L]
RewriteRule ^user/([0-9-]+)/abonnements user_subscriptions.php?id=$1 [NC,L]
RewriteRule ^user/([0-9-]+)/historique user_history.php?id=$1 [NC,L]
RewriteRule ^user/([0-9-]+)/reservations user_reservations.php?id=$1 [NC,L]
RewriteRule ^user/([0-9-]+)/taches user_tasks.php?id=$1 [NC,L]

RewriteRule ^forfait/([A-Za-z0-9-]+)$ product_details.php?id=$1
RewriteRule ^cours/([A-Za-z0-9-]+)$ session_details.php?id=$1
RewriteRule ^event/([A-Za-z0-9-]+)$ event_details.php?id=$1
RewriteRule ^reservation/([A-Za-z0-9-]+)$ booking_details.php?id=$1
RewriteRule ^taches/([A-Za-z]+)$ tasks.php?display=$1 [NC]
RewriteRule ^tags/([A-Za-z]+)$ tags.php?type=$1 [NC]

#Maintenance ON
#RewriteCond %{REQUEST_URI} !/maintenance.php$
#RewriteRule !^(assets|bootstrap|functions)($|/) /Salsabor/maintenance.php [R=302,NC,L] # Display maintenance page
#Maintnance OFF
RewriteRule ^(maintenance)$ /Salsabor/dashboard [R=302,NC,L] # Display home
RewriteRule ^(maintenance.php)$ /Salsabor/dashboard [R=302,NC,L] # Display home

#Erreurs
ErrorDocument 404 /Salsabor/404.php
