@font-face{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('OpenSans Regular'), local('OpenSans-Regular'), url('fonts/OpenSans-Regular.ttf') format('truetype');
}

*{
	font-family: 'Open Sans' sans-serif;
}

.form-horizontal .control-label{
	text-align: right;
}

.navbar-brand{
	color: #FFF;
	font-weight: 800;
	font-size: 2em;
	padding-top: 3px;
	padding-bottom: 3px;
}

/*.sidebar{
	display: none;
}
@media(min-width:768px){
	.sidebar{
		z-index: 100;
	}
}*/

.span-mandatory {
	color: red;
}

.nav-tabs>li>a{
	color: #81002B;
}

.nav-pills > li{
	cursor: pointer;
}

.nav-pills > li.active > a{
	background-color: #FAB913 !important;
}

.nav-pills > li.active > a:hover{
	background-color: #E5A910!important;
}

.nav-pills > li > a {
	color: #FAB913;
}

/** To be in front of the lightboxes **/
.ui-widget{
	z-index: 3 !important;
}

.level-display{
	text-align: center;
}

#cours-options{
	padding: 15px !important;
}

.table-responsive{
	overflow-x: visible;
}

#prix_calcul{
	color: #a9023a;
	height: inherit;
}

.confirm-add {
	text-transform: uppercase;
}

.error-alert {
	color: #720026;
}

.fc-event{
	cursor: pointer !important;
}

.payment-done{
	color: green;
}

.payment-due{
	color: red;
}

#display-planning {
	margin-top: 10px;
}

.content-right {
	float: right;
}

.alert-custom {
	z-index:1031;
	position: fixed;
	top: 1%;
	left: 40%;
	width: 30%;
	text-align: center;
}
.error-messages {
	color: red !important;
}

.main-section {
	font-family: 'globersemibold_free';
}

.search-form {
	margin-bottom: 10px;
}

.glyphicon-inactive {
	color: #BBB !important;
}

.glyphicon-success {
	color: #5cb85c !important;
}

.glyphicon-sort {
	cursor: pointer;
}

#shopping-cart-price {
	padding: 10px 0;
	text-align: right;
	font-size: 20px;
}

#prix-total {
	font-size: 28px;
	color: #a9023a;
}

.fixed {
	position: fixed;
	left: 16.667%;
	z-index: 1000;
	padding: 5px;
	width: 100%;
	color: white;
	min-height: 50px;
}

.statut-salsabor,.statut-banque {
	float: right;
}

.span-btn {
	cursor: pointer;
}

.popover-content {
	max-height: 259px;
	overflow-y: scroll;
}
