/*$skip-color: #D08AC3*/
/** ADJUSTMENT TOOLS **/
/* line 19, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.align-right {
  text-align: right; }

/* line 22, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
body {
  margin-top: 50px; }

/* line 25, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.popover {
  z-index: 1060; }

/* line 28, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
::-webkit-scrollbar {
  background-color: rgba(168, 1, 57, 0.3);
  z-index: -1;
  width: 6px; }

/* line 33, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
::-webkit-scrollbar-thumb {
  background-color: #A80139;
  border-radius: 10px; }

/* line 37, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main {
  padding: 40px 4% 20px;
  position: relative;
  overflow: auto; }

/* line 42, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
legend {
  color: #A80139;
  font-size: 28px;
  font-family: 'globersemibold_free'; }
  /* line 46, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  legend a, legend input, legend button {
    float: right; }

/** SIDE MENU **/
/* line 50, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sidebar-container {
  position: relative; }

/* line 53, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sidebar {
  /*background-color: lighten($salsabor-red, 5%)*/
  position: fixed;
  background-color: white;
  color: black;
  padding: 10px 0 20px 0;
  overflow-y: scroll;
  max-height: 94.5vh; }

/* line 62, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main-section {
  cursor: default;
  color: black; }
  /* line 65, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-section:hover {
    color: black !important; }
  /* line 67, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-section:focus {
    color: white !important; }

/* line 70, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-sub-sidebar {
  color: black;
  padding-bottom: 20px; }

/* line 74, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main-option {
  color: black;
  font-weight: 600;
  font-size: 17px;
  font-family: 'globersemibold_free'; }
  /* line 79, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-option:hover {
    color: black; }
  /* line 81, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-option span {
    padding-right: 20px;
    color: #A80139; }

/** NAV **/
/* line 86, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar {
  background-color: #A80139;
  border: 0;
  box-shadow: 0 2px 10px #888888; }

/* line 91, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-right {
  margin-right: 0; }

/* line 94, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notification-icon {
  color: white !important; }
  /* line 96, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon:hover {
    color: #FAB913 !important; }
  /* line 98, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon span.glyphicon {
    z-index: -1; }
  /* line 100, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon span.badge {
    margin-left: -13px;
    padding: 3px 5px;
    background-color: #d59b05; }

/* line 105, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-form {
  width: 65%;
  margin-left: 22px; }

/* line 112, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-input, .navbar-form .input-group span {
  background-color: #bc0140;
  color: white;
  font-size: 17px;
  border: 0;
  border-radius: 0; }
  /* line 118, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .nav-input:hover, .navbar-form .input-group span:hover {
    background-color: #cb0145; }
  /* line 120, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .nav-input:focus, .navbar-form .input-group span:focus {
    background-color: #e0014c;
    border-color: #FAB913;
    box-shadow: inset 0 1px 1px #FAB913, 0 0 8px #fbc845; }

/** SUB NAV **/
/* line 127, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.fixed {
  background-color: rgba(158, 1, 54, 0.99); }

/** PAGE **/
/* line 131, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.page-title {
  font-family: 'globersemibold_free';
  font-size: 28px;
  padding: 0;
  margin: 1px 0 0 0; }

/** BUTTONS **/
/* line 139, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-danger span {
  color: white; }

/* line 142, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-info {
  background-color: #A80139;
  border-color: #ad013b; }
  /* line 145, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-info:hover {
    background-color: #990134;
    border-color: #ad013b; }
  /* line 148, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-info:active, .btn-info:focus {
    background-color: #85012d;
    border-color: #ad013b; }

/** PURCHASES **/
/* line 153, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.panel-purchase, .panel-session {
  box-shadow: 0px 0px 10px #888888;
  border: 0; }
  /* line 156, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-heading-container, .panel-session .panel-heading-container {
    cursor: pointer;
    text-decoration: none;
    color: black; }
    /* line 160, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .panel-purchase .panel-heading-container:hover, .panel-session .panel-heading-container:hover {
      color: black; }
  /* line 162, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-heading, .panel-session .panel-heading {
    background-color: white;
    text-decoration: none; }
    /* line 165, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .panel-purchase .panel-heading p, .panel-session .panel-heading p {
      margin-top: 10px; }
  /* line 167, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-body, .panel-session .panel-body {
    border-top: 1px solid #e1e1e1; }

/* line 170, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-subtitle {
  font-weight: 600;
  color: #A80139;
  font-size: 18px; }

/* line 175, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-id, .session-id {
  font-size: 17px;
  font-weight: 600; }

/* line 179, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-sub {
  font-style: italic; }

/* line 182, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-product-name {
  font-weight: 600; }
  /* line 184, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .purchase-product-name.bf {
    font-size: 18px; }

/* line 187, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-product-subdetails > p {
  padding-top: 0 !important; }

/* line 190, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-product-list-container {
  margin-bottom: 20px; }

/* line 193, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-inside-list, .participations-list {
  padding-left: 0; }

/* line 196, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-item, .product-participation {
  margin-bottom: 10px;
  display: inherit;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer; }
  /* line 202, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .purchase-item p, .product-participation p {
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 0; }

/* line 207, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-item-options {
  padding: 0 0 20px 30px; }

/* line 210, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.maturity-item {
  cursor: default; }

/* line 213, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-pending {
  background-color: #F0AD4E; }
  /* line 215, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-pending:hover {
    background-color: #ec971f; }

/* line 218, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-expired {
  background-color: #f2f2f2;
  color: #b3b3b3; }

/* line 222, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-active {
  background-color: #87CE77; }
  /* line 224, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-active:hover {
    background-color: #66c052; }

/* line 227, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-near-activation {
  background-color: #9491D6; }
  /* line 229, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-near-activation:hover {
    background-color: #706cc8; }

/* line 232, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-near-expiration {
  background-color: #eaf7e7; }
  /* line 234, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-near-expiration:hover {
    background-color: #66c052; }

/* line 238, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-overconsumed:hover, .item-overused:hover {
  background-color: #D9534F; }

/* line 241, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-overused {
  background-color: #eba5a3; }

/* line 245, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.status-icon {
  text-align: center;
  color: #888888;
  cursor: pointer; }
  /* line 249, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .status-icon:hover {
    color: #3c3c3c; }

/* line 252, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.status-success {
  color: #87CE77; }
  /* line 254, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .status-success:hover {
    color: #4ea43b; }

/* line 257, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.maturitys-list > li {
  display: inherit; }

/** PRODUCT MODAL **/
/* line 261, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-modal {
  text-align: left;
  font-weight: 700; }
  /* line 264, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-modal span {
    font-weight: 400;
    color: #A80139; }

/* line 268, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.modal-body-title {
  font-size: 20px;
  font-weight: 600; }

/* line 272, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.modal-purchase {
  padding-left: 0;
  padding-right: 0; }
  /* line 275, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .modal-purchase .purchase-details-container {
    padding-left: 0;
    padding-right: 0; }

/* line 279, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-status-container {
  border-radius: 8px;
  box-shadow: 0 0 10px #888888;
  height: 120px;
  padding: 10px;
  text-align: center; }

/* line 286, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.highlighted-value {
  font-size: 22px;
  font-weight: 600;
  color: #A80139; }

/* line 291, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-participation {
  padding: 1px 5px;
  margin-bottom: 5px;
  cursor: pointer; }
  /* line 296, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .product-participation p.session-title {
    margin-top: 0;
    font-weight: 600; }
  /* line 299, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .product-participation p.session-hours {
    margin-top: -10px;
    padding-top: 0; }

/* line 303, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
#over-session-alert {
  font-weight: 600;
  color: #888888;
  text-decoration: underline; }

/* line 308, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.participation-valid {
  border-left: 7px solid #87CE77; }
  /* line 311, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-valid:not(.options-shown):hover {
    background-color: #87CE77; }

/* line 314, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.participation-over {
  border-left: 7px solid #eba5a3; }
  /* line 317, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-over:not(.options-shown):hover {
    background: #eba5a3; }
  /* line 319, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-over:not(.options-shown):active {
    background: #e27c79; }

/* line 322, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.session-options {
  background: white; }

/* line 325, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
h2.modal-body-title.first {
  margin-top: 0; }

/** SUB MODAL **/
/* line 329, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal {
  position: absolute;
  left: 464px;
  background-color: white;
  border-radius: 4px;
  display: none;
  padding: 10px;
  box-shadow: 2px 2px 10px #888888; }

/* line 338, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-header {
  border-bottom: 1px solid #888888; }

/* line 341, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-body {
  padding-top: 10px; }

/* line 344, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-product {
  display: inherit;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0; }
  /* line 349, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .sub-modal-product span {
    float: right; }
  /* line 351, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .sub-modal-product p {
    margin-bottom: 0; }

/* line 354, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.smp-title {
  font-size: 18px;
  font-weight: 700; }

/** CATALOGUE **/
/* line 359, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.panel-product {
  background-color: #e6e6e6; }

/* line 362, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-description {
  min-height: 80px; }

/** IRREGULARS **/
/* line 366, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregulars-target-container {
  border-left: 1px;
  border-left-style: dashed;
  border-left-color: #888888;
  padding-bottom: 20px;
  height: 83.5vh;
  position: fixed;
  left: 71.5%;
  overflow-y: scroll; }

/* line 376, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregulars-list {
  padding: 0; }

/* line 379, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregular-participation {
  cursor: pointer;
  display: inherit;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px; }
  /* line 385, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation:hover {
    background-color: #e6e6e6; }
  /* line 387, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation:active {
    background-color: #cccccc; }
  /* line 389, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation p {
    margin-bottom: 0; }

/** ACTIVE SESSIONS **/
/** PARTICIPATIONS **/

/*# sourceMappingURL=default-style.css.map */