/* line 7, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-over.panel-record {
  border-top: 3px solid #D9534F;
  border-bottom: 3px solid #D9534F;
  background-color: rgba(217, 83, 79, 0.3); }

/* line 9, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-over:not(.panel-record) {
  border-left: 7px solid #D9534F; }

/* line 11, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-over:hover {
  background-color: #D9534F; }

/* line 15, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-pre-success.panel-record {
  border-top: 3px solid #79C3E5;
  border-bottom: 3px solid #79C3E5;
  background-color: rgba(121, 195, 229, 0.3); }

/* line 17, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-pre-success:not(.panel-record) {
  border-left: 7px solid #79C3E5; }

/* line 20, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-pre-success:not(.options-shown):hover {
  background-color: #79C3E5; }

/* line 24, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-success.panel-record {
  border-top: 3px solid #87CE77;
  border-bottom: 3px solid #87CE77;
  background-color: rgba(135, 206, 119, 0.3); }

/* line 26, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-success:not(.panel-record) {
  border-left: 7px solid #87CE77; }

/* line 29, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-success:not(.options-shown):hover {
  background-color: #87CE77; }

/* line 33, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-partial-success.panel-record {
  border-top: 3px solid #F0AD4E;
  border-bottom: 3px solid #F0AD4E;
  background-color: rgba(240, 173, 78, 0.3); }

/* line 35, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-partial-success:not(.panel-record) {
  border-left: 7px solid #F0AD4E; }

/* line 38, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.status-partial-success:not(.options-shown):hover {
  background-color: #F0AD4E; }

/* line 41, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.product-soon {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3); }

/* line 45, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.task-new {
  border: 1px solid #A80139 !important;
  border-left: 15px solid #A80139 !important; }
  /* line 49, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
  .task-new .panel-heading:hover {
    background-color: rgba(168, 1, 57, 0.09) !important; }

/* line 52, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
.task-old {
  border: 1px solid #87CE77 !important;
  border-left: 15px solid #87CE77 !important; }
  /* line 56, C:/xampp/htdocs/Salsabor/assets/css/_status.sass */
  .task-old .panel-heading:hover {
    background-color: rgba(135, 206, 119, 0.09) !important; }

/* line 1, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.panel-item, .product-participation {
  margin-bottom: 10px;
  display: inherit;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer; }
  /* line 7, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .panel-item p, .product-participation p {
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 0; }
  /* line 11, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .panel-item a, .product-participation a {
    color: black;
    text-decoration: none; }

/* line 15, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.panel-item-title {
  font-weight: 700; }

/* line 18, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.panel-record {
  text-align: center;
  padding: 5px;
  height: 350px;
  cursor: default; }

/* line 24, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.irregular-record {
  text-align: inherit;
  padding: 10px;
  height: auto; }
  /* line 29, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .irregular-record .irregular-record-details {
    text-align: center; }

/* line 32, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.panel-add-record {
  cursor: pointer;
  border-radius: 0;
  border-top: 3px solid #888888;
  border-bottom: 3px solid #888888;
  background-color: rgba(136, 136, 136, 0.3); }
  /* line 36, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .panel-add-record:hover {
    background-color: #888888; }
    /* line 38, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
    .panel-add-record:hover .empty-pp {
      border-color: white; }

/* line 41, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.personal-participation-title {
  padding-left: 20px !important; }

/* line 44, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.panel-search {
  background-color: #eeeeee; }

/* line 50, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.user-entry {
  font-size: 18px;
  text-align: center;
  height: 350px;
  padding: 30px 15px 30px 15px;
  border-radius: 5px;
  word-wrap: break-word; }
  /* line 57, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .user-entry:hover {
    background-color: #888888; }
  /* line 59, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .user-entry a {
    text-decoration: none;
    color: black; }
  /* line 62, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .user-entry a:hover {
    text-decoration: none;
    color: black; }
  /* line 65, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .user-entry .user-pp {
    float: inherit;
    margin: 0 auto; }

/* line 69, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
.irregular-user {
  margin-top: 0 !important; }
  /* line 72, C:/xampp/htdocs/Salsabor/assets/css/_panel-items.sass */
  .irregular-user:hover {
    color: black; }

/** ADJUSTMENT TOOLS **/
/* line 29, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.align-right {
  text-align: right; }

/* line 32, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
body {
  margin-top: 50px; }

/* line 35, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
a {
  color: #A80139; }

/* line 38, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.link-alt {
  color: inherit;
  text-decoration: none; }
  /* line 41, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .link-alt:hover {
    text-decoration: none; }

/* line 44, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.popover {
  z-index: 1060; }

/* line 47, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
::-webkit-scrollbar {
  background-color: rgba(168, 1, 57, 0.3);
  z-index: -1;
  width: 6px; }

/* line 52, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
::-webkit-scrollbar-thumb {
  background-color: #A80139;
  border-radius: 10px; }

/* line 56, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main {
  padding: 40px 4% 20px;
  position: relative;
  overflow: auto; }

/* line 61, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.portal-main {
  background-size: 100%;
  height: 100%; }
  /* line 64, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .portal-main .layer {
    background: rgba(255, 255, 255, 0.1);
    height: 100%; }

/* line 68, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.form-control-portal {
  background-color: transparent !important;
  color: #A80139;
  border-radius: 0 !important;
  border: 1px solid #A80139;
  border-top: 0; }
  /* line 74, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .form-control-portal:focus {
    box-shadow: none;
    outline: inherit;
    border-color: #A80139; }

/* line 79, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
legend, .sub-legend, .search-title, p.legend, div.legend:nth-child(1n+0) {
  color: #A80139;
  font-size: 28px;
  font-family: 'globersemibold_free'; }
  @media screen and (max-width: 768px) {
    /* line 79, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    legend, .sub-legend, .search-title, p.legend, div.legend:nth-child(1n+0) {
      font-size: 22px; } }
  /* line 85, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  legend a, .sub-legend a, .search-title a, p.legend a, div.legend:nth-child(1n+0) a, legend input, .sub-legend input, .search-title input, p.legend input, div.legend:nth-child(1n+0) input, legend button, .sub-legend button, .search-title button, p.legend button, div.legend:nth-child(1n+0) button {
    float: right; }

/* line 88, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.user-labels {
  padding-bottom: 10px;
  margin-top: -10px;
  font-size: 1.3em; }

/* line 93, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-legend, .search-title {
  font-size: 19px; }

/* line 97, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
a {
  text-decoration: none; }
  /* line 99, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  a:hover, a:focus, a:active {
    color: #A80139; }

/* line 102, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.textcomplete-dropdown {
  z-index: 1062 !important; }

/* line 105, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.editable {
  cursor: pointer; }
  /* line 107, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .editable:hover {
    text-decoration: underline; }

/* line 111, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.inline-editable:nth-child(1n+0) {
  display: inline-flex; }

/* line 113, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.inline-editable p:first-child {
  margin-right: .15em; }

/** SIDE MENU **/
/* line 117, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sidebar-container {
  position: relative; }

/* line 120, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sidebar {
  /*background-color: lighten($salsabor-red, 5%)*/
  position: fixed;
  background-color: white;
  color: black;
  padding: 10px 0 20px 0;
  overflow-y: scroll;
  max-height: 94.5vh; }

/* line 129, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main-section {
  cursor: default;
  color: black; }
  /* line 132, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-section:hover {
    color: black !important; }
  /* line 134, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-section:focus {
    color: white !important; }

/* line 137, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-sub-sidebar {
  color: black;
  padding-bottom: 20px; }

/* line 141, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main-option {
  color: black;
  font-weight: 600;
  font-size: 17px;
  font-family: 'globersemibold_free'; }
  /* line 146, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-option:hover {
    color: black; }
  /* line 148, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .main-option span {
    padding-right: 20px;
    color: #A80139; }

/** NAV **/
/* line 153, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar {
  background-color: #A80139;
  border: 0;
  box-shadow: 0 2px 10px #888888; }

/* line 158, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-toggle {
  border: 0; }

/* line 161, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-brand {
  margin-top: 13px; }
  @media screen and (min-width: 768px) {
    /* line 161, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .navbar-brand {
      margin-top: 0; } }

/* line 166, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.dropdown-toggle {
  background-color: #A80139 !important; }

/* line 169, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-right {
  margin-right: 0; }

/* line 172, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-collapse {
  border: 0;
  padding: 0 !important; }
  /* line 175, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .navbar-collapse .navbar {
    margin-bottom: 0; }

/* line 178, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.small-nav {
  color: white; }

/* line 181, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notification-icon {
  color: white !important;
  cursor: pointer; }
  /* line 184, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon:hover {
    color: #FAB913 !important; }
  /* line 186, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon span.glyphicon {
    z-index: -1; }
  /* line 188, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-icon span.badge {
    margin-left: -13px;
    padding: 2px 3px;
    background-color: #d59b05;
    border-radius: 5px; }

/* line 194, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sidebar-badge {
  float: right;
  padding: 5px !important;
  color: white !important;
  background-color: #d59b05;
  border-radius: 5px; }

/* line 201, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.navbar-form {
  margin-left: 22px; }

/* line 207, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-input, .navbar-form .input-group span {
  background-color: #bc0140;
  color: white;
  font-size: 17px;
  border: 0;
  border-radius: 0; }
  /* line 213, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .nav-input:hover, .navbar-form .input-group span:hover {
    background-color: #cb0145; }
  /* line 215, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .nav-input:focus, .navbar-form .input-group span:focus {
    background-color: #e0014c;
    border-color: #FAB913;
    box-shadow: inset 0 1px 1px #FAB913, 0 0 8px #fbc845; }

/* line 223, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.dropdown-menu li:hover {
  background-color: #A80139 !important; }

/* line 226, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.dropdown-menu li a:hover {
  background-color: #A80139 !important;
  color: white; }

/** SUB NAV **/
/* line 231, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.fixed {
  background-color: rgba(158, 1, 54, 0.99); }

/** JUMBOTRON **/
/* line 235, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.main-home {
  padding: 0; }

/* line 238, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.jumbotron-home {
  border-radius: 0; }

/* line 242, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
#jumbotron-btns a {
  margin: 10px; }

/** PAGE **/
/* line 246, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.page-title {
  font-family: 'globersemibold_free';
  font-size: 28px;
  padding: 0;
  margin: 1px 0 0 0; }

/** BUTTONS **/
/* line 254, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-danger span {
  color: white; }

/* line 257, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-info {
  background-color: #A80139;
  border-color: #ad013b; }
  /* line 260, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-info:hover {
    background-color: #990134;
    border-color: #ad013b; }
  /* line 263, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-info:active, .btn-info:focus {
    background-color: #85012d;
    border-color: #ad013b; }

/* line 267, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-link-all {
  margin-bottom: 10px; }

/* line 270, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.remove-extension {
  float: right; }

/* line 273, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.link-glyphicon {
  color: black; }

/* line 276, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.glyphicon-button {
  cursor: pointer; }
  /* line 278, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .glyphicon-button:hover {
    color: white; }

/* line 282, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.glyphicon-button-alt:hover {
  color: #A80139; }

/* line 285, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.glyphicon-button-big {
  font-size: 18px; }

/** PURCHASES **/
/* line 289, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.panel-purchase, .panel-session {
  box-shadow: 0px 0px 10px #888888;
  border: 0; }
  /* line 292, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-heading-container, .panel-session .panel-heading-container {
    cursor: pointer;
    text-decoration: none;
    color: black; }
    /* line 296, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .panel-purchase .panel-heading-container:hover, .panel-session .panel-heading-container:hover {
      color: black; }
  /* line 298, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-heading, .panel-session .panel-heading {
    background-color: white;
    text-decoration: none; }
    /* line 301, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .panel-purchase .panel-heading p, .panel-session .panel-heading p {
      margin-top: 10px; }
  /* line 303, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .panel-body, .panel-session .panel-body {
    border-top: 1px solid #e1e1e1; }
  /* line 306, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-purchase .session-option > span:hover, .panel-session .session-option > span:hover {
    color: #A80139; }

/* line 309, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-subtitle {
  font-weight: 600;
  color: #A80139;
  font-size: 18px; }

/* line 314, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-id, .irregular-user, .session-id {
  font-size: 17px;
  font-weight: 600; }

/* line 318, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-sub {
  font-style: italic; }

/* line 321, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.bf {
  font-size: 18px; }

/* line 324, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-product-subdetails > p {
  padding-top: 0 !important; }

/* line 327, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-product-list-container {
  margin-bottom: 20px; }

/* line 330, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-inside-list, .participations-list {
  padding-left: 0; }

/* line 333, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.purchase-item-options {
  padding: 0 0 20px 30px; }

/* line 336, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.maturity-item {
  cursor: pointer; }

/* line 339, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-pending {
  background-color: #F0AD4E; }
  /* line 341, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-pending:hover {
    background-color: #ec971f; }

/* line 344, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-expired {
  background-color: #f2f2f2;
  color: #b3b3b3; }

/* line 348, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-active {
  background-color: #87CE77; }
  /* line 350, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-active:hover {
    background-color: #66c052; }

/* line 353, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-near-activation {
  background-color: #9491D6; }
  /* line 355, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-near-activation:hover {
    background-color: #706cc8; }

/* line 358, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-near-expiration {
  background-color: #eaf7e7; }
  /* line 360, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .item-near-expiration:hover {
    background-color: #66c052; }

/* line 364, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-overconsumed:hover, .item-overused:hover {
  background-color: #D9534F; }

/* line 367, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-overused {
  background-color: #eba5a3; }

/* line 372, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.item-available:hover {
  background-color: #e6e6e6; }

/* line 375, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.status-icon {
  text-align: center;
  color: #888888;
  cursor: pointer; }
  /* line 379, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .status-icon:hover {
    color: #3c3c3c; }

/* line 382, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.icon-success {
  color: #87CE77; }
  /* line 384, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .icon-success:hover {
    color: #4ea43b; }

/* line 387, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.maturitys-list > li {
  display: inherit; }

/** PRODUCT MODAL **/
/* line 391, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.btn-modal {
  text-align: left;
  font-weight: 600; }
  /* line 394, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-modal span {
    font-weight: 400;
    color: #A80139; }
  /* line 397, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-modal.status-enabled {
    background-color: #A80139;
    color: white; }
    /* line 400, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .btn-modal.status-enabled span {
      color: white; }
  /* line 402, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-modal.status-disabled:hover {
    background-color: rgba(168, 1, 57, 0.3); }
  /* line 404, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .btn-modal.disabled {
    background-color: #888888; }

/* line 407, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.modal-body-title {
  font-size: 20px;
  font-weight: 600; }

/* line 411, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.modal-actions-container {
  padding-left: 0; }

/* line 414, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.modal-purchase {
  padding-left: 0;
  padding-right: 0; }
  /* line 417, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .modal-purchase .purchase-details-container {
    padding-left: 0;
    padding-right: 0; }

/* line 421, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-status-container {
  border-radius: 8px;
  box-shadow: 0 0 10px #888888;
  height: 120px;
  padding: 10px;
  text-align: center; }

/* line 428, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-status, .maturity-status {
  text-align: left; }
  /* line 430, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .product-status p, .maturity-status p {
    font-size: 18px;
    font-weight: 700; }
    /* line 433, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .product-status p .glyphicon, .maturity-status p .glyphicon {
      padding-right: 10px;
      color: #A80139; }

/* line 437, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.highlighted-value {
  font-size: 22px;
  font-weight: 600;
  color: #A80139; }

/* line 442, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-participation {
  padding: 1px 5px;
  margin-bottom: 5px;
  cursor: pointer; }
  /* line 447, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .product-participation p.session-title {
    margin-top: 0;
    font-weight: 600; }
  /* line 450, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .product-participation p.session-hours {
    margin-top: -10px;
    padding-top: 0; }

@media screen and (max-width: 1024px) {
  /* line 454, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .panel-item-options {
    text-align: center; } }

/* line 458, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
#over-session-alert {
  font-weight: 600;
  color: #888888;
  text-decoration: underline; }

/* line 463, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.participation-pending {
  border-left: 7px solid #79C3E5; }
  /* line 466, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-pending:not(.options-shown):hover {
    background-color: #79C3E5; }

/* line 469, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.participation-valid {
  border-left: 7px solid #87CE77; }
  /* line 472, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-valid:not(.options-shown):hover {
    background-color: #87CE77; }

/* line 475, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.participation-over {
  border-left: 7px solid #eba5a3; }
  /* line 478, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-over:not(.options-shown):hover {
    background: #eba5a3; }
  /* line 480, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .participation-over:not(.options-shown):active {
    background: #e27c79; }

/* line 483, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.session-options, .maturity-options {
  background: white; }

/* line 486, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
h2.modal-body-title.first {
  margin-top: 0; }

/** SUB MODAL **/
/* line 490, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal, .sub-modal-notification {
  position: absolute;
  left: 464px;
  background-color: white;
  border-radius: 4px;
  display: none;
  padding: 10px;
  box-shadow: 2px 2px 10px #888888; }

/* line 499, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-header {
  border-bottom: 1px solid #888888; }

/* line 502, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-body {
  position: relative;
  padding-top: 10px;
  max-height: 350px;
  overflow-y: scroll;
  overflow: hide; }

/* line 509, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-footer {
  padding-top: 5px; }

/* line 512, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-product {
  display: inherit;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0; }
  /* line 517, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .sub-modal-product span.glyphicon-ok {
    float: right; }
  /* line 519, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .sub-modal-product p {
    margin-bottom: 0; }

/* line 522, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.smp-title {
  font-size: 18px;
  font-weight: 700; }

/* line 526, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.sub-modal-notification {
  position: fixed;
  z-index: 1000000000000;
  overflow-x: hidden;
  border-radius: 0; }

/* line 533, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.smn-body {
  overflow-y: scroll;
  height: 350px;
  -moz-box-shadow: inset 0px -4px 10px 1px #888888;
  -webkit-box-shadow: inset 0px -4px 10px 1px #888888;
  -o-box-shadow: inset 0px -4px 10px 1px #888888;
  box-shadow: inset 0px -4px 10px 1px #888888;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$system-color, Direction=90, Strength=10); }
  /* line 541, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .smn-body .glyphicon-button {
    color: rgba(168, 1, 57, 0.4); }
    /* line 543, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .smn-body .glyphicon-button:hover {
      color: white; }

/* line 546, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notif-texts {
  width: 90%; }

/* line 549, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.smn-footer {
  text-align: center;
  padding-top: 10px; }

/** CATALOGUE **/
/* line 554, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.panel-product {
  background-color: #e6e6e6; }

/* line 557, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.product-description {
  min-height: 80px; }

/** IRREGULARS **/
/* line 561, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregulars-target-container {
  border-left: 1px;
  border-left-style: dashed;
  border-left-color: #888888;
  padding-bottom: 20px;
  height: 75.5vh;
  position: fixed;
  left: 71.5%;
  overflow-y: scroll; }

/* line 571, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregulars-list {
  padding: 0; }

/* line 574, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.irregular-participation {
  cursor: pointer;
  display: inherit;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px; }
  /* line 580, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation:hover {
    background-color: #e6e6e6; }
  /* line 582, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation:active {
    background-color: #cccccc; }
  /* line 584, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation.focused {
    font-weight: 700;
    background-color: #f2f2f2; }
    /* line 587, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
    .irregular-participation.focused:hover {
      background-color: #e6e6e6; }
  /* line 589, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .irregular-participation p {
    margin-bottom: 0; }

/** ACTIVE SESSIONS **/
/** PARTICIPATIONS **/
/** USER PAGE **/
/* line 601, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.user-banner {
  height: 170px;
  margin-bottom: 15px; }

/* line 605, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.user-pp {
  height: 170px !important;
  width: 170px !important;
  border-radius: 85px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  margin-right: 15px; }

/* line 610, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.small-user-pp {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 auto; }
  /* line 613, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .small-user-pp img {
    width: inherit; }

/* line 616, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notif-pp {
  height: 65px !important;
  width: 65px !important;
  border-radius: 32.5px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left; }
  /* line 619, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notif-pp img {
    width: inherit; }

/* line 622, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.empty-pp {
  border: 2px dashed #888888; }

/* line 625, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-img-container {
  padding-top: 7px !important;
  padding-bottom: 0 !important; }

/* line 629, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.nav-pp {
  height: 35px !important;
  width: 35px !important;
  border-radius: 17.5px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  padding: 5px;
  margin-bottom: 8px; }
  /* line 634, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .nav-pp img {
    width: inherit; }

/* line 637, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.user-summary {
  padding-left: 190px; }

/* line 640, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
#profile-picture-sample {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important;
  border: 2px solid #444 !important;
  text-align: inherit; }

/* line 647, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
#avatar-container .file-input .file-preview {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important; }

/* line 650, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.file-preview-frame {
  display: block !important;
  width: 120px !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important; }

/* line 657, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.file-preview-image {
  width: inherit !important;
  height: auto !important; }

/* line 661, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.file-default-preview > img {
  min-height: 120px;
  width: inherit; }

/* line 665, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.profile-picture {
  min-height: 170px;
  width: inherit; }

/* line 669, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
p.legend, div.legend:nth-child(1n+0) {
  font-size: 38px; }

/** RECORDS **/
/* line 677, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.records-product-list {
  padding: 0; }

/** NOTIFICATIONS **/
/* line 682, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notification-line, .task-line {
  display: inherit;
  border-bottom: 1px solid #bbbbbb;
  padding: 8px;
  cursor: pointer; }
  /* line 687, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-line.notif-new, .notif-new.task-line {
    background-color: rgba(168, 1, 57, 0.1); }
  /* line 689, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-line.notif-old, .notif-old.task-line {
    background-color: white; }
  /* line 691, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .notification-line:hover, .task-line:hover {
    background-color: rgba(168, 1, 57, 0.2); }

/* line 694, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.read-all {
  cursor: pointer;
  float: right;
  padding-right: 5px; }

/* line 699, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notification-content {
  margin-bottom: 2px;
  text-decoration: none;
  color: black;
  display: block; }

/* line 705, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.notif-hour, .task-hour, .message-details {
  color: #888888 !important; }

/** TASKS **/
/* line 709, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.task-line {
  margin-bottom: 10px;
  border-radius: 0;
  padding: 0; }
  /* line 711, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .task-line:hover {
    background-color: inherit; }
  /* line 716, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .task-line .panel-heading {
    padding: 8px; }
  /* line 718, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .task-line .panel-body {
    cursor: default;
    background-color: #e6e6e6; }

/* line 722, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.task-title {
  font-size: 16px; }

/* line 725, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.task-hour, .message-details {
  margin-top: -12px;
  font-style: italic; }

/* line 730, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.new-task-text {
  padding: 17px;
  font-size: 1.4em; }
  /* line 733, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .new-task-text:hover {
    color: white; }

/* line 736, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.comment-unit {
  margin-bottom: 10px; }

/* line 739, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.glyphicon-description {
  float: left;
  margin-right: 5px; }

/* line 743, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.message-author {
  font-weight: 700; }

/* line 746, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.message-container {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 25px; }

/* line 752, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.message-details {
  margin: 0;
  margin-left: 25px; }

/* line 757, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.comment-span {
  padding-top: 4px; }

/* line 760, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
.deadline-span {
  padding: 4px 0 4px 10px; }
  /* line 762, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .deadline-span:hover {
    text-decoration: underline; }
  /* line 764, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .deadline-span.deadline-near {
    background-color: #F0AD4E; }
  /* line 766, C:/xampp/htdocs/Salsabor/assets/css/default-style.sass */
  .deadline-span.deadline-expired {
    background-color: #D9534F;
    color: white;
    font-weight: 700; }

/*# sourceMappingURL=default-style.css.map */