$salsabor-red: #A9023A;

/** ADJUSTMENT TOOLS **/
.align-right
	text-align: right

body
	margin-top: 50px

.navbar
	background-color: darken($salsabor-red, 10%)
	border: 0

/** SIDE MENU **/
.main-option
	color: white !important
	font-weight: 600
	font-family: 'globersemibold_free'

/** PAGE **/
.page-title
	font-family: 'globersemibold_free'
	font-size: 28px
	padding: 0
	margin: 0
