.label-rank-1{
    background-color: #81002B;
}

.label-rank-2{
    background-color: #A9023A;
}

.label-rank-3{
    background-color: cornflowerblue;
}

.label-rank-4{
    background-color: coral;
}

.label-rank-5{
    background-color: chocolate;
}

.label-rank-6{
    background-color: darkgoldenrod;
}

.label-rank-7{
    background-color: chartreuse;
}